.outputP{
    text-align: center;
    font-family: monospace;
    font-size: 500%;
    border: 5px solid black;
    width: 25%;
    display: block;
    margin:auto;
    margin-top: 5rem;
    border-radius: 5px;
    font-weight: bold;
}

input{
    border: 3px solid black;
    display: block;
    margin:auto;
    margin-top: .5%;
    width: 25rem;
    height: 2rem;
    border-radius: 5px;
    
}

button{
    display: block;
    margin:auto;
    margin-top: 2.5%;
    width: 20rem;
    height: 5rem;
    border-radius: 5px;
    border: 4px solid black;
    transition: 0.5s;
    font-size: 200%;
    font-weight: bold;
}

button:hover{
    background-color: lightgrey;
    cursor: pointer;
    transform: scale(.9)
}

.title{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 500%;
    margin-bottom: 5rem;
}

::placeholder{
    font-weight: bold;
    font-size: large;
}
a.nav-link:link{
    color: black;
    text-decoration: none;
}
a.nav-link:visited{
    color: black;
    text-decoration: none;
}

#changeBtn{
    font-size: 175%
}
.imperial{
    display: none;
}
.imperial.show{
    display: flex;
    flex-direction: column;
}

.feet-n-inches{
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-left: 47.4rem;
    margin-top: .5rem;
    
}

.height-inches{
    margin-left: 1rem;
    width: 11rem;
}
.height-feet{
    width: 11rem;    
}
.metric{
    display: none;
}
.metric.show{
    display: flex;
    flex-direction: column;
}